#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/gnustep.mk
include /usr/share/cdbs/1/class/gnumakefile.mk

common-configure-arch:: config.make

clean::
	touch config.make
	$(MAKE) distclean

config.make:
	./configure --disable-strip --with-gnustep
